body {
    background: #acb6e5;
    color: #000000;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  main {
    background-color: #fff;
    padding: 50px;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
  }

  h2 {
    color: #000000;
    font-size: 1.75rem;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: Center;
  }
  footer {
    background-color: #000000;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  nav {
    display: inline-block;
    margin: 10px;
  }

  nav a {
    color: #f4f4f4;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    margin: 5px;
    font-size: 1rem;
  }