<nav>
    <a
      href="https://webpages.charlotte.edu/rravi3/index.html"
      target="_blank"
      >ITIS 3135 Course Site</a
    >
    |
    <a
      href="https://github.com/rishabhravi1/rishabhravi1.github.io"
      target="_blank"
      >GitHub Repo</a
    >
    |
    <a href="https://rishabhravi1.github.io/" target="_blank"
      >GitHub Site</a
    >
    |
    <a href="https://www.linkedin.com/in/rishabh-ravi/" target="_blank"
      >LinkedIn</a
    >
    |
    <a href="https://www.freecodecamp.org/rravi3" target="_blank"
      >FreeCodeCamp</a
    >
    |
    <a href="https://www.codecademy.com/profiles/rravi3" target="_blank"
      >Codecademy</a
    >
  </nav>
  <p>Designed by Rishabh Ravi Designs &copy; 2024</p>
  <a href="https://validator.w3.org/check?uri=referer">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png"
      alt="Valid HTML!"
      id="html-validator"
    >
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img
      src="https://jigsaw.w3.org/css-validator/images/vcss"
      alt="Valid CSS!"
      id="css-validator"
    >
  </a>