<h1>Rishabh Ravi's Site</h1>
<p>Reasonable Racoon ITIS 3135</p>
<p><strong>"Empowering Solutions for Everyday Life"</strong></p>
<nav>
  <a href="../index.html">Home</a> |
  <a href="index.html">ITIS3135 Home Page</a> |
  <a href="introduction.html">Introduction</a> |
  <a href="contract.html">Contract</a> |
  <a href="about.html">About</a> |
  <a href="tables.html">Tables</a> |
  <a href="forms.html">Forms</a> |
  <a href="../../STUFF/fUnNy F!LE.HTM">CRAPPY</a> |
  <a href="crap_eval.html">CRAP Eval</a> |
</nav>
